<div class="login-container">
  <div class="login-form">
    <h2>Login</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          formControlName="email"
          type="email"
          id="email"
          name="email"
          required
        />
        @if (form.controls["email"].errors && form.controls["email"].touched) {
          <div class="text-danger">Email is required.</div>
        }
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          formControlName="password"
          type="password"
          id="password"
          name="password"
          required
        />
        @if (
          form.controls["password"].errors && form.controls["password"].touched
        ) {
          <div class="text-danger">Password is required.</div>
        }
      </div>
      <button type="submit" class="login-button">Login</button>
    </form>
    <div class="error-container">
      {{ error }}
    </div>
    <p class="signup-text">
      Don't have an account? <a routerLink="/auth/signup">Sign up here</a>
    </p>
  </div>
</div>
